body{
  background:linear-gradient(180deg,  rgb(0, 255, 130), rgb(200,0,100) );
  font-family: 'Comic Sans MS', Courier, Times New Roman;
  color: rgb(150,0,255);
  text-shadow: 0px 3px 5px rgb(45,0,100) ;
  text-align: left;
  font-size: 28px;;
}
h1{
  font-size: 55px;
}

h2{
  color: blue;
  text-shadow: 0px 8px 5px rgb(0,0,0);
  font-family: 'Consolas', Courier, Monospace;
  text-align: center;
  font-size: 30px;
}

img, .img{
  width: 360px;
  height: auto;
  margin: 20px;
  display: block;
  position: relative;
}

a{
  color: rgb(255,0,90);
}
.Arelativo{
  border: 10px solid;
  border-color: rgb(174, 0, 61);
  border-block-color: rgb(83, 0, 29);
  background: linear-gradient(180deg , rgb(83, 0, 29), rgb(205, 0, 72));
  display: inline-block;
  text-align: center;
}

.pl{
  border: 10px solid;
  border-color: rgb(0,150,150);
  border-block-color: rgb(0,100,100);
  background: linear-gradient(180deg , rgb(0, 70, 70), rgb(0, 165, 165));
  display: inline-block;
  text-align: center;
}

.peque{
  font-size: 20px;
}

.text-overlay {
  position: absolute; /* Posiciona el texto sobre la imagen */
  top: 85%; /* Centra verticalmente */
  left: 35%; /* Centra horizontalmente */
  transform: translate(-40%, -50%); /* Ajusta la posición para centrar */
  color: rgb(255, 0, 0); /* Color del texto */
  z-index: 2; /* Asegura que el texto esté por encima de la imagen */
}

video{
  width: 360px;
  height: auto;
  margin: 20px;
  display: block;
  position: relative;
}

iframe, .playing{
  width: 85%;
  height: 600px;
  border: none;
  margin: 20px;
}